<div class="row">
  <div class="form-group col-md-12" ng-class="{ 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s1.$error.required }">
    <label for="AnestesiaC3s1">E' stata eseguita una subaracnoidea? </label>
    <div class="radio">
      <label for="AnestesiaC3s1{{item}}" class="radio-inline" ng-repeat="(key,item) in vm.items['Anestesia.c3s1']">
          <input type="radio" name="AnestesiaC3s1" ng-required="vm.Anestesia == 'Si'" ng-disabled="vm.finalized" ng-change="vm.cleanAnestesiaC3s1()" ng-model="vm.data.Anestesia.c3s1" value="{{item}}">{{item}}
      </label>
    </div>
  </div>
</div>

<div class="block" ng-show="vm.data.Anestesia.c3s1 == 'Si'">
  <div class="row">
    <div class="form-group col-md-6" ng-class="{ 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s2a.$error.required }">
      <label for="AnestesiaC3s2a">Interspazio:</label>
      <select name="AnestesiaC3s2a" class="form-control" ng-required="vm.data.Anestesia.c3s1 == 'Si'" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s2a"
        ng-options="item as item for item in vm.items['Anestesia.c3s2a'] track by item">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group col-md-6" ng-class="{ 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s2b.$error.required }">
      <label for="AnestesiaC3s2b">Ago:</label>
      <select name="AnestesiaC3s2b" class="form-control" ng-required="vm.data.Anestesia.c3s1 == 'Si'" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s2b"
        ng-options="item as item for item in vm.items['Anestesia.c3s2b'] track by item">
        <option value=""></option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6" ng-class="{ 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s3.$error.required }">
      <label for="AnestesiaC3s3">Anestetico locale </label>
      <div class="radio">
        <label for="AnestesiaC3s3{{item}}" class="radio-inline" ng-repeat="(key,item) in vm.items['Anestesia.c3s3']">
          <input type="radio" name="AnestesiaC3s3" ng-required="vm.Anestesia == 'Si'" ng-disabled="vm.finalized" ng-change="vm.cleanAnestesiaC3s3()" ng-model="vm.data.Anestesia.c3s3" value="{{item}}">{{item}}
        </label>
      </div>
    </div>
  </div>

  <div class="row" ng-show="vm.data.Anestesia.c3s3 == 'Si'">
    <div class="form-group col-md-4" ng-class="{ 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s3a.$error.required }">
      <label for="AnestesiaC3s3a">Farmaco:</label>
      <select name="AnestesiaC3s3a" ng-required="vm.data.Anestesia.c3s3 == 'Si'" class="form-control" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s3a"
        ng-options="item as item for item in vm.items['Anestesia.c3s3a'] track by item">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group col-md-4" ng-class="{ 'has-error': vm.form.AnestesiaC3s3c.$dirty && vm.form.AnestesiaC3s3c.$error.min , 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s3c.$error.required}">
      <label for="AnestesiaC3s3c">Vol. (ml):</label>
      <input type="number" name="AnestesiaC3s3c" ng-required="vm.data.Anestesia.c3s3 == 'Si'" class="form-control" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s3c" min="0"/>
      <span ng-show="vm.form.AnestesiaC3s3c.$dirty && vm.form.AnestesiaC3s3c.$error.min" class="help-block">Maggiore di 0</span>
    </div>

    <div class="form-group col-md-4" ng-class="{ 'has-error': vm.form.AnestesiaC3s3b.$dirty && vm.form.AnestesiaC3s3b.$error.min, 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s3b.$error.required }">
      <label for="AnestesiaC3s3b">Conc. (mg/ml):</label>
      <input type="number" name="AnestesiaC3s3b" ng-required="vm.data.Anestesia.c3s3 == 'Si'" class="form-control" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s3b" min="0"/>
      <span ng-show="vm.form.AnestesiaC3s3b.$dirty && vm.form.AnestesiaC3s3b.$error.min" class="help-block">Maggiore di 0</span>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6" ng-class="{ 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s4.$error.required }">
      <label for="AnestesiaC3s4">Oppioide </label>
      <div class="radio">
        <label for="AnestesiaC3s4{{item}}" class="radio-inline" ng-repeat="(key,item) in vm.items['Anestesia.c3s4']">
          <input type="radio" name="AnestesiaC3s4" ng-required="vm.Anestesia == 'Si'" ng-disabled="vm.finalized" ng-change="vm.cleanAnestesiaC3s4()" ng-model="vm.data.Anestesia.c3s4" value="{{item}}">{{item}}
        </label>
      </div>
    </div>
  </div>

  <div class="row" ng-show="vm.data.Anestesia.c3s4 == 'Si'">
    <div class="form-group col-md-4" ng-class="{ 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s4a.$error.required }">
      <label for="AnestesiaC3s4a">Farmaco:</label>
      <select name="AnestesiaC3s4a" class="form-control" ng-required="vm.data.Anestesia.c3s4 == 'Si'" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s4a"
        ng-options="item as item for item in vm.items['Anestesia.c3s4a'] track by item">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group col-md-4" ng-class="{ 'has-error': vm.form.AnestesiaC3s4b.$dirty && vm.form.AnestesiaC3s4b.$error.min, 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s4b.$error.required }">
      <label for="AnestesiaC3s4b">Q.tà (mcg):</label>
      <input type="number" name="AnestesiaC3s4b" class="form-control" ng-required="vm.data.Anestesia.c3s4 == 'Si'" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s4b" min="0"/>
      <span ng-show="vm.form.AnestesiaC3s4b.$dirty && vm.form.AnestesiaC3s4b.$error.min" class="help-block">Maggiore di 0</span>
    </div>

    <div class="form-group col-md-4" ng-class="{ 'has-error': vm.form.AnestesiaC3s4c.$dirty && vm.form.AnestesiaC3s4c.$error.min , 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s4c.$error.required}">
      <label for="AnestesiaC3s4c">Conc. (mcg/ml):</label>
      <input type="number" name="AnestesiaC3s4c" class="form-control" ng-required="vm.data.Anestesia.c3s4 == 'Si'" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s4c" min="0"/>
      <span ng-show="vm.form.AnestesiaC3s4c.$dirty && vm.form.AnestesiaC3s4c.$error.min" class="help-block">Maggiore di 0</span>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6" ng-class="{ 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s5.$error.required }">
      <label for="AnestesiaC3s5">Oppioide </label>
      <div class="radio">
        <label for="AnestesiaC3s5{{item}}" class="radio-inline" ng-repeat="(key,item) in vm.items['Anestesia.c3s5']">
          <input type="radio" name="AnestesiaC3s5" ng-required="vm.Anestesia == 'Si'" ng-disabled="vm.finalized" ng-change="vm.cleanAnestesiaC3s5()" ng-model="vm.data.Anestesia.c3s5" value="{{item}}">{{item}}
        </label>
      </div>
    </div>
  </div>

  <div class="row" ng-show="vm.data.Anestesia.c3s5 == 'Si'">
    <div class="form-group col-md-4" ng-class="{ 'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s5a.$error.required }">
      <label for="AnestesiaC3s5a">Farmaco:</label>
      <select name="AnestesiaC3s5a" class="form-control" ng-required="vm.data.Anestesia.c3s5 == 'Si'" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s5a"
        ng-options="item as item for item in vm.items['Anestesia.c3s5a'] track by item">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group col-md-4" ng-class="{ 'has-error': vm.form.AnestesiaC3s5b.$dirty && vm.form.AnestesiaC3s5b.$error.min ,'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s5b.$error.required}">
      <label for="AnestesiaC3s5b">Q.tà (mcg):</label>
      <input type="number" name="AnestesiaC3s5b" ng-required="vm.data.Anestesia.c3s5 == 'Si'" class="form-control" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s5b" min="0"/>
      <span ng-show="vm.form.AnestesiaC3s5b.$dirty && vm.form.AnestesiaC3s5b.$error.min" class="help-block">Maggiore di 0</span>
    </div>

    <div class="form-group col-md-4" ng-class="{ 'has-error': vm.form.AnestesiaC3s5c.$dirty && vm.form.AnestesiaC3s5c.$error.min ,'has-error-background': vm.data.Patient.finalized && vm.form.AnestesiaC3s5c.$error.required}">
      <label for="AnestesiaC3s5c">Conc. (mcg/ml):</label>
      <input type="number" name="AnestesiaC3s5c" ng-required="vm.data.Anestesia.c3s5 == 'Si'" class="form-control" ng-disabled="vm.finalized" ng-model="vm.data.Anestesia.c3s5c" min="0"/>
      <span ng-show="vm.form.AnestesiaC3s5c.$dirty && vm.form.AnestesiaC3s5c.$error.min" class="help-block">Maggiore di 0</span>
    </div>
  </div>

</div>
