<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
    </li>
    <li>
        <a class="mouse-over" ng-click="vm.changeView('components/home/statistics.html')"><span class="glyphicon glyphicon-object-align-bottom"/> Statistiche</a>
    </li>
    <li>
        <a class="mouse-over" ng-click="vm.changeView('components/home/editUsers.html',1)"><span class="glyphicon glyphicon-magnet"/> Lista utenti</a>
    </li>
    <li>
        <a class="mouse-over" ng-click="vm.changeView('components/home/editStudies.html')"><span class="glyphicon glyphicon-list-alt"/> Lista studi</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
