<div id="{{handler}}" class="modal fade" ng-class="{in:vm.showModal,'show-modal':vm.showModal}" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Attenzione </h4>
      </div>
      <div class="modal-body">
          <p class="danger">Stai per <u>reimpostare</u> la password dell'utente. Confermi?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="vm.resetPassword(vm.data._id)">Si</button>
        <button type="button" class="btn btn-primary" ng-click="vm.showModal = !vm.showModal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in" ng-show="vm.showModal"></div>
