<br>

<div class="panel panel-info">

  <div class="panel-heading">Terapia infusionale post-operatioria</div>
  <div class="panel-body" ng-include="'components/home/editInfoPanels/panel4Group/panel41.html'"></div>
</div>

<div class="panel panel-info">

  <div class="panel-heading">Analgesia post-operatoria</div>
  <div class="panel-body" ng-include="'components/home/editInfoPanels/panel4Group/panel42.html'"></div>
</div>

<div class="panel panel-info">

  <div class="panel-heading">Parametri da monitorare</div>
  <div class="panel-body" ng-include="'components/home/editInfoPanels/panel4Group/panel43.html'"></div>
</div>

<div class="panel panel-info">

  <div class="panel-heading">Segnalazioni</div>
  <div class="panel-body" ng-include="'components/home/editInfoPanels/panel4Group/panel44.html'"></div>
</div>
